<!DOCTYPE html>

<head>
	<title>[% title %] - [% c.lh("Plugin Configuration") %]</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-status-bar-style" content="black" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link type="image/png" rel="icon" href="/favicon.ico" />
	<link rel="manifest" href="app.webappmanifest" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/lrr.css?$version") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/config.css?$version") %]" />

	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/fontawesome-all.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/jquery.fileupload.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/allcollapsible.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/ReactToastify.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/sweetalert2.min.css") %]" />
	[% csshead %]

	<script src="[% c.url_for("/js/vendor/jquery.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/preact.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/hooks.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/compat.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script>window.React = window.preactCompat; window.react = window.preactCompat;</script>
	<script src="[% c.url_for("/js/vendor/clsx.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/react-toastify.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/jquery.ui.widget.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/jquery.fileupload.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/allcollapsible.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/sweetalert2.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/Sortable.min.js") %]" type="text/JAVASCRIPT"></script>

	<script src="[% c.url_for("/js/i18n.js?$version") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/common.js?$version") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/server.js?$version") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/plugins.js?$version") %]" type="text/JAVASCRIPT"></script>


</head>

<body>

	<div class="ido" style="text-align:center;">
		<h1 class="ih" style="text-align:center">[% c.lh("Plugin Configuration") %]</h1>
		<br />

		<div id="registry-bar" style="display:none; margin-bottom:12px; font-size:9pt; color:#999;">
			<span id="registry-status-text"></span>
		</div>

		<form name="editPluginForm" id="editPluginForm" enctype="multipart/form-data" method="post">

			<div class="left-column" style="width:49%">
				<ul class="collapsible extensible with-right-caret">
					[%# ===== Login Plugins ===== %]
					<li class="option-flyout" id="section-login">
						<div class="collapsible-title caret-right">
							<i class="fa fa-plug" aria-hidden="true"></i> [% c.lh("Login Plugins") %]
						</div>
						<div class="collapsible-body">
							[% INCLUDE pluginlist plugins = logins %]
							<div id="registry-login"></div>
						</div>
					</li>

					[%# ===== Downloaders ===== %]
					<li class="option-flyout" id="section-download">
						<div class="collapsible-title caret-right">
							<i class="fas fa-cloud-download-alt" aria-hidden="true"></i> [% c.lh("Downloaders") %]
						</div>
						<div class="collapsible-body">
							[% INCLUDE pluginlist plugins = downloaders %]
							<div id="registry-download"></div>
						</div>
					</li>

					[%# ===== Scripts ===== %]
					<li class="option-flyout" id="section-script">
						<div class="collapsible-title caret-right">
							<i class="fa fa-scroll" aria-hidden="true"></i> [% c.lh("Scripts") %]
						</div>
						<div class="collapsible-body">
							[% INCLUDE pluginlist plugins = scripts %]
							<div id="registry-script"></div>
						</div>
					</li>
				</ul>
			</div>

			<div class="right-column" style="width:50%">
				<ul class="collapsible extensible with-right-caret">
					[%# ===== Metadata Plugins ===== %]
					<li class="option-flyout">
						<div class="collapsible-title caret-right">
							<i class="fa fa-digital-tachograph" aria-hidden="true"></i> [% c.lh("Metadata Plugins") %]
						</div>
						<div class="collapsible-body">

							<h1 class="ih" style="display:inline">[% c.lh("Allow Plugins to replace archive titles:") %] </h1>
							[% IF replacetitles %]
							<input id="replacetitles" name="replacetitles" class="fa" type="checkbox" checked> [% ELSE %]
							<input id="replacetitles" name="replacetitles" class="fa" type="checkbox"> [% END %]
							<label for="replacetitles">
								<br> [% c.lh("If enabled, metadata plugins will be able to change the title of your archives alongside adding tags to them.") %]
							</label>
							<br /><br />

							<div class="pool-container">
								<div class="plugin-pool pool-disabled">
									<div class="pool-header pool-header--disabled">
										<i class="fa fa-pause-circle"></i> [% c.lh("Disabled") %]
									</div>
									<div id="metadata-disabled">
										[% IF meta_disabled.size == 0 %]
										<div class="pool-empty-msg">[% c.lh("All metadata plugins are enabled.") %]</div>
										[% END %]
										[% FOREACH plugin IN meta_disabled %]
										[% INCLUDE metadata_card plugin=plugin show_order=0 %]
										[% END %]
									</div>
								</div>

								<div class="plugin-pool pool-enabled">
									<div class="pool-header pool-header--enabled">
										<i class="fa fa-play-circle"></i> [% c.lh("Enabled - Run Order") %]
									</div>
									<div id="metadata-enabled">
										[% IF meta_enabled.size == 0 %]
										<div class="pool-empty-msg">[% c.lh("Drag plugins here to enable auto-processing.") %]</div>
										[% END %]
										[% SET idx = 1 %]
										[% FOREACH plugin IN meta_enabled %]
										[% INCLUDE metadata_card plugin=plugin show_order=1 order_idx=idx %]
										[% SET idx = idx + 1 %]
										[% END %]
									</div>
								</div>
							</div>

						</div>
					</li>
				</ul>
			</div>

			<br />
			<h1 style="text-align:center">
				<span class="script-running" style="display:none">
					<i aria-hidden="true" class="fa fa-3x fa-atom fa-spin"></i> <br>
					[% c.lh("A script is running...") %]
				</span>
				<input id='save' class='stdbtn' type='button' value='[% c.lh("Save Plugin Configuration") %]' />
				<span id="plugin-upload" class='stdbtn fileinput-button'>
					<span>[% c.lh("Upload Plugin") %]</span>
					<input type='file' name='file' multiple id='fileupload'>
				</span>
				<input id='return' class='stdbtn' type='button' value='[% c.lh("Return to Library") %]' />
			</h1>
		</form>
	</div>
	[% INCLUDE footer %]
</body>

</html>


[%# ===== Metadata plugin card (used in both pools) ===== %]
[% BLOCK metadata_card %]
<div class="plugin-card" data-namespace="[% plugin.namespace %]" data-source="[% plugin.source %]">
	[% IF show_order %]
	<span class="plugin-order-badge">[% order_idx %]</span>
	[% END %]
	<div class="drag-handle"><i class="fa fa-grip-vertical"></i></div>
	<div style="flex:1; min-width:0;">
		<div style="display:flex; align-items:center;">
			<div style="flex:1;">
				[% IF plugin.icon %]
				<img height=20 width=20 src="[% plugin.icon %]" />
				[% ELSE %]
				<i class="fa fa-puzzle-piece" style="font-size:20px"></i>
				[% END %]
				<h2 class="ih" style="display:inline"> [% plugin.name %] v.[% plugin.version %]</h2>
				<h1 class="ih" style="display:inline"> by [% plugin.author %] </h1>
				<span class="plugin-badge plugin-badge--[% plugin.source %]">[% plugin.source %]</span>
			</div>
			[% IF plugin.source == "managed" %]
			<input class="stdbtn plugin-uninstall-btn" type="button" data-namespace="[% plugin.namespace %]"
				value="[% c.lh("Uninstall") %]" style="flex-shrink:0; margin-left:8px;" />
			[% END %]
		</div>

		[% IF plugin.login_from %]
		<i class="fa fa-plug" aria-hidden="true"></i> [% c.lh("Depends on") %] "[% plugin.login_from %]"
		<br />
		[% END %]

		<div class="plugin-description">[% plugin.description %]</div>
		<span class="plugin-description-toggle">[% c.lh("Show more") %]</span>

		[% IF plugin.parameters && plugin.parameters.size %]
		<div class="collapsible-title" style="padding: 5px 0 0 5px">
			<a>
				<i class="fas fa-sliders-h" style="margin-right: 4px" aria-hidden="true"></i>
				<b>[% c.lh("Plugin Settings") %]</b>
			</a>
		</div>
		<div class="collapsible-body" style="padding:5px 0 0 0">
			<table>
				<tbody>
					[% FOREACH param IN plugin.parameters %]
					<tr>
						<td style="vertical-align:middle">
							<b> [% param.desc %] : </b>
						</td>
						<td>
							<input style="max-width:200px" size="20" name="[% plugin.namespace %]_CFG_[% IF param.exists('name') %][% param.name %][% ELSE %][% loop.count %][% END %]"
								type=[% SWITCH param.type %] [% CASE 'string' %] "text"
								value="[% param.value %]" class="stdinput" [% CASE 'bool' %] "checkbox" value="1" class="fa"
								[% IF param.value %] checked [% END %] [% CASE 'int' %] "number" value="[% param.value %]"
								class="stdinput" [% CASE %] "color" [% END %] />
							<br />
						</td>
					</tr>
					[% END %]
				</tbody>
			</table>
		</div>
		[% END %]
	</div>
</div>
[% END %]


[%# ===== Standard plugin list block (login, download, script) ===== %]
[% BLOCK pluginlist %]

[% IF plugins.size == 0 %]
<div class="pool-empty-msg" data-type-empty="1">[% c.lh("No plugins installed.") %]</div>
[% END %]

[% FOREACH plugin IN plugins %]
<span class="pluginlist-item">

	<div style="display:flex; align-items:center;">
		<div style="flex:1;">
			[% IF plugin.icon %]
			<img height=20 width=20 src="[% plugin.icon %]" />
			[% ELSE %]
			<i class="fa fa-puzzle-piece" style="font-size:20px"></i>
			[% END %]
			<h2 class="ih" style="display:inline"> [% plugin.name %] v.[% plugin.version %]</h2>
			<h1 class="ih" style="display:inline"> by [% plugin.author %] </h1>
			<span class="plugin-badge plugin-badge--[% plugin.source %]">[% plugin.source %]</span>
		</div>
		[% IF plugin.source == "managed" %]
		<input class="stdbtn plugin-uninstall-btn" type="button" data-namespace="[% plugin.namespace %]"
			value="[% c.lh("Uninstall") %]" style="flex-shrink:0; margin-left:8px;" />
		[% END %]
	</div>

	[% IF plugin.login_from %]
	<i class="fa fa-plug" aria-hidden="true"></i> [% c.lh("Depends on") %] "[% plugin.login_from %]"
	<br />
	[% END %]

	[% IF plugin.type == "download" %]
	<pre title="[% c.lh("This plugin will trigger on URLs matching this regex!") %]">	[% plugin.url_regex %]</pre>
	[% END %]
	<div class="plugin-description">[% plugin.description %]</div>
	<span class="plugin-description-toggle">[% c.lh("Show more") %]</span>

	[% IF plugin.type == "script" %]
	<table>
		<tbody>
			[% IF plugin.oneshot_arg %]
			<tr>
				<td style="vertical-align:middle">
					<b> [% plugin.oneshot_arg %] : </b>
				</td>
				<td>
					<input style="max-width:200px" size="20" id="[% plugin.namespace %]_ARG" />
					<br />
				</td>
			</tr>
			[% END %]
			<tr>
				<td colspan="2">
					<input class='stdbtn' type='button' onclick="Server.triggerScript('[% plugin.namespace %]');"
						value='[% c.lh("Trigger Script") %]' />
				</td>
			</tr>
		</tbody>
	</table>
	[% END %]

	[% IF plugin.parameters && plugin.parameters.size %]
	<div class="collapsible-title" style="padding: 5px 0 0 5px">
		<a>
			<i class="fas fa-sliders-h" style="margin-right: 4px" aria-hidden="true"></i>
			<b>[% c.lh("Plugin Settings") %]</b>
		</a>
	</div>
	<div class="collapsible-body" style="padding:5px 0 0 0">
		<table>
			<tbody>
				[% FOREACH param IN plugin.parameters %]
				<tr>
					<td style="vertical-align:middle">
						<b> [% param.desc %] : </b>
					</td>
					<td>
						<input style="max-width:200px" size="20" name="[% plugin.namespace %]_CFG_[% IF param.exists('name') %][% param.name %][% ELSE %][% loop.count %][% END %]"
							type=[% SWITCH param.type %] [% CASE 'string' %] "text"
							value="[% param.value %]" class="stdinput" [% CASE 'bool' %] "checkbox" value="1" class="fa"
							[% IF param.value %] checked [% END %] [% CASE 'int' %] "number" value="[% param.value %]"
							class="stdinput" [% CASE %] "color" [% END %] />
						<br />
					</td>
				</tr>
				[% END %]
			</tbody>
		</table>
	</div>
	[% END %]

</span>
<br />
[% END %]

[% END %]